* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-m {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  perspective: 1000px;
  transform-style: preserve-3d;
  background-color: black;
}

// sideBar
#check {
  display: none;
}

#check + label {
  position: absolute;
  top: 2em;
  left: 2em;
  z-index: 1;
  display: flex;
  align-items: center;
  cursor: pointer;
}

#check + label svg path {
  transform-origin: 35% 50%;
  transition: 0.3s;
}

#check:checked + label svg #one {
  transform: rotate(45deg);
}

#check:checked + label svg #two {
  transform: rotate(-45deg);
}

.nav-ul-m {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}

.nav-m {
  position: absolute;
  width: 24vw;
  background: linear-gradient(
    217deg,
    rgba(241, 85, 24, 1),
    rgba(0, 0, 0, 0) 89.71%
  );

  height: 100vh;
  padding: 80px 20px;
  display: flex;
  flex-direction: column;
  transition: 0.5s;
  transform: translateX(-100%);
}

#check:checked + label ~ .nav-m {
  transform: translateX(0%);
}

.link-m {
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 10px;
  font-size: 24px;
  font-weight: 700;
  transition: 0.5s;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  border-top: 1px solid rgba(0, 0, 0, 0);
}

.link-m:hover {
  transform: translateX(10px);
  color: rgb(0, 0, 0);
  border-bottom: 2px solid rgba(0, 0, 0, 1);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
// end sideBar

// start homePage
.section-m {
  z-index: -1;
  position: relative;
  width: 100%;
  height: 100vh;
  transform-origin: left;
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.5s;
}

.content-m {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 2em 4em;
  max-width: 800px;
  height: 90vh;
}


.container-games-m {
  display: flex;
  flex-direction: wrap;
}

.image-container-m {
  padding: 20px;
  margin-top: 50px;
}

.games-image-m:hover {
  transform:scale(1.4,1.4);
  cursor: pointer;
}

.games-image-m {
  transition: all .4s ease-in-out;
}

.cre-acc-m {
  text-align: center;
  margin-top: 50px;
  padding: 5px 15px;
  background-color: rgb(241, 85, 24);
}

.cre-acc-m .link-HP-m {
  align-items: flex-end;
  color: white;
  font-size: x-large;
  text-decoration: none;
}

#check:checked + label ~ .section-m {
  z-index: -1;
  transform: rotateY(30deg) translateX(25vw);
}

//end homePage

// start Footer
.footer-m {
  display: flex;
  justify-content: space-around;
  z-index: 100;
  width: 100vw;
  height: 10vh;
  background-image: linear-gradient(
    to bottom,
    rgba(41, 39, 39, 0),
    rgba(41, 39, 39, 1)
  );
}

.faceit-logo-m {
  align-self: center;
  height: 110px;
  width: 190px;
}

.git-container-links-m {
  display: flex;
  justify-content: flex-end;
  justify-content: space-around;
  align-self: center;
  width: 30%;
}

.git-links-m {
  color: white;
  font-size: 20px;
}


// end Footer

//login & register pages
.loginPageJ {
  display: flex;
  justify-content: space-between;
  background-color: rgb(255, 159, 121);
  .loginSectionJ {
    z-index: 1;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
    flex-grow: 1;
    height: 100%;
    color: rgb(0, 0, 0);
    border-right: 13px solid rgb(46, 46, 46);

    border-radius: 50%;

    .contentJ {
      display: flex;
      flex-flow: column;
      align-items: flex-end;
      text-align: right;
      // background-color: rgb(255, 255, 255);
      border-right: 20px solid rgb(0, 0, 0);
      border-radius: 50%;
      padding-top: 75px;
      padding-bottom: 75px;
      padding-right: 25%;
      width: 100%;
      margin-right: -25px;
      min-height: 350px;

      .fieldJ {
        color: rgb(46, 46, 46);
      }
      input {
        min-width: 150px;
        min-height: 20px;
        &:hover {
          background-color: rgb(170, 170, 170);
        }
      }

      .input-g {
        width: 300px;
        min-height: 20px;
        &:hover {
          background-color: rgb(170, 170, 170);
        }
      }

      .buttonJ {
        background-color: black;
        color: rgb(255, 255, 255);
        margin-top: 2px;
        padding: 2px 5px;
        &:hover {
          background-color: rgb(255, 255, 255);
          color: rgb(0, 0, 0);
          border: 0.5px solid black;
        }
      }
      .button-G {
        min-width: 150px;
        background-color: black;
        color: rgb(255, 255, 255);
        margin-top: 2px;
        padding: 2px 5px;
        &:hover {
          background-color: rgb(255, 255, 255);
          color: rgb(0, 0, 0);
          border: 0.5px solid black;
        }
      }
    }
  }
}
.wrapRegisterJ {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  margin-left: -10px;
  .registerSectionJ {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    height: 80vh;
    width: 35vw;
    border-left: 7px solid rgb(170, 170, 170);
    border-radius: 50%;
    margin: 30px -10px 30px 0;
    color: rgb(255, 255, 255);

    .toRegJ {
      padding-left: 10%;
    }
  }
}

.fillJ {
  height: 33px;
  width: 300px;
}

//Event Form



//Colors being used

//Triple shape
// rgb(0, 0, 0) black line
// rgb(46, 46, 46) medium gray
// rgb(170, 170, 170) light gray

//background
//rgb(241, 85, 24) orange

//end of login&register
